{% extends "base.html" %} {% block content %}

<style>
	#about {
		color: #ad2a54;
		font-weight: bold;
	}
</style>

<div class="container" style="margin-top: 3em;">

	<div class="row">
		<div class="col">

			<h1 class="heading">
				<strong>about <span>PREDIE.</span></strong>
			</h1>
	
		<br>
		
		<h4 style="line-height: 1.6em;">
			PREDIE is a <strong>
			<span>Used Cars</span></strong>
			price prediction portal, which enables the users to find the 
			<strong>optimal</strong> prices depending on historical sales
			trends
		</h4>

	</div>

	<div class="col">
		<img src="https://pred-predictor.s3.ap-south-1.amazonaws.com/data.png"
		draggable="false" style="width: 90%; margin-left: 6em; max-width: 20em; height: auto; margin-top: 2em;" class="nrc">
	</div>
</div>
	<br><hr><br>
	
	<h4>this application was completed as a part of the</h4> 
	<h4><strong>capstone project</strong> at <strong>niit university</strong> by 
		<a href="/team/" style="text-decoration: none;"><span style=" color: #ad2a54;"><strong>team PREDIE.</strong></span></a></h4>

</div>
{% endblock %} 