{% extends "base.html" %} {% block content %}
<style>
	#team {
		color: #ad2a54;
		font-weight: bold;
	}
	
	a {
		text-decoration: none !important;
	}
	
	.names{
		font-size: 1.4em;
		margin-top: 0.4em;
		text-align:center;
	}

	.team-images{
		width: 80%;
		border-radius: 2em;
	}

	.links{
		margin-top: -0.6em;
		text-align: center;
	}

	.social {
		width: 40px;
	}

	.image{
		text-align: center;
	}

	.social:hover {
		opacity: 0.6;
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

</style>
<div class="container" style="margin-top: 3em;">

	<h1 class="heading">
		<strong>the <span>team</span></strong>
	</h1><br><br>

	<div class="row">
		<div class="col-4 image">
			<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/akshit_sarin.jpg"
					class="team-images" draggable="false">

			<p class="names"> akshit sarin </p>

			<div class="links">
				<!-- linkedin -->
				<a href="https://www.linkedin.com/in/akshit-sarin/" target="_blank">
					<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/linkedinicon.png" class="social" >
				</a>
				
				<!-- instagram -->
				<a href="https://www.instagram.com/akshit.sarin/" target="_blank">
					<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/instagram.png" class="social" >
				</a>
			</div>
		</div>

		<div class="col-4 image">
			<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/shubhankar_dhruv.jpg"
					class="team-images" draggable="false">

			<p class="names"> shubhankar dhruv </p>

			<div class="links">
 				<!-- linkedin -->
				<a href="https://www.linkedin.com/in/shubhankar-dhruv-34265614a" target="_blank">
					<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/linkedinicon.png" class="social">
				</a>
				
				<!-- instagram -->
 				<a href="https://www.instagram.com/shubhankardhruv/" target="_blank">
					<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/instagram.png" class="social">
				</a>
			</div>
		</div>
 
		<div class="col-4 image">
			<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/pragya_kapoor.jpg" class="team-images" draggable="false">

			<p class="names"> pragya kapoor </p>

			<div class="links">
				<!-- linkedin -->
				<a href="https://www.linkedin.com/in/pragya-kapoor-126478154" target="_blank">
					<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/linkedinicon.png" class="social">
				</a>
				
				<!-- instagram -->
				<a href="https://www.instagram.com/pragyakapoorr/" target="_blank">
					<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/instagram.png" class="social">
				</a>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 1.8em;">
		<div class="col-4 image">
			<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/aaryamann.png"
			class="team-images" draggable="false">
	
			<p class="names"> aaryamann sharma </p>

			<div class="links">
				<!-- linkedin -->
				<a href="https://www.linkedin.com/in/aaryamann-sharma/" target="_blank">
					<img src="https://team-page-images.s3.ap-south-1.amazonaws.com/linkedinicon.png" class="social">
				</a>				
			</div>
		</div>
	</div>
</div>
{% endblock %}